### Covariance Correlation

In [1]:
import seaborn as sns
import pandas as pd

# load data from this seaborn (go to github and check csv file in seaborn)
https://github.com/mwaskom/seaborn-data

In [20]:
df=sns.load_dataset('exercise') 
df.head()
type(df)

pandas.core.frame.DataFrame

In [12]:
df=sns.load_dataset('taxis') 
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

# coverience

In [50]:
import seaborn as sns
import numpy as np
import pandas as pd

In [51]:
df=sns.load_dataset('healthexp') 
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [52]:
type(df)

pandas.core.frame.DataFrame

In [54]:
from string import ascii_letters

In [89]:
rs = np.random.RandomState(4)
d = pd.DataFrame(data=rs.normal(size=(5, 6)),
                 columns=list(ascii_letters[46:]))

In [90]:
d

          U         V         W         X         Y         Z
0  0.050562  0.499951 -0.995909  0.693599 -0.418302 -1.584577
1 -0.647707  0.598575  0.332250 -1.147477  0.618670 -0.087987
2  0.425072  0.332253 -1.156816  0.350997 -0.606887  1.546979
3  0.723342  0.046136 -0.982992  0.054433  0.159893 -1.208948
4  2.223360  0.394295  1.692358 -1.112812  1.635748 -1.360966

In [91]:
d.cov()

          U         V         W         X         Y         Z
U  1.132402 -0.087386  0.727745 -0.215725  0.575454 -0.442537
V -0.087386  0.043987  0.088594 -0.056285  0.023007  0.021370
W  0.727745  0.088594  1.505971 -0.918222  1.060997 -0.488641
X -0.215725 -0.056285 -0.918222  0.723147 -0.675502  0.091886
Y  0.575454  0.023007  1.060997 -0.675502  0.810336 -0.500267
Z -0.442537  0.021370 -0.488641  0.091886 -0.500267  1.693103

In [92]:
d.corr(method='spearman')

     U    V    W    X    Y    Z
U  1.0 -0.7  0.3  0.0  0.3 -0.2
V -0.7  1.0  0.3 -0.3  0.3 -0.2
W  0.3  0.3  1.0 -0.8  1.0 -0.3
X  0.0 -0.3 -0.8  1.0 -0.8 -0.3
Y  0.3  0.3  1.0 -0.8  1.0 -0.3
Z -0.2 -0.2 -0.3 -0.3 -0.3  1.0

In [93]:
d.corr(method='pearson')

          U         V         W         X         Y         Z
U  1.000000 -0.391542  0.557276 -0.238389  0.600728 -0.319601
V -0.391542  1.000000  0.344219 -0.315584  0.121859  0.078309
W  0.557276  0.344219  1.000000 -0.879886  0.960447 -0.306013
X -0.238389 -0.315584 -0.879886  1.000000 -0.882431  0.083042
Y  0.600728  0.121859  0.960447 -0.882431  1.000000 -0.427098
Z -0.319601  0.078309 -0.306013  0.083042 -0.427098  1.000000